message: This is a message defined in the configuration
  file config.yaml.
messageRepetitions: 3


# use the simple server factory if you only want to run on a single port
# HEROKU NOTE - the port gets be overridden with the Heroku $PORT in the Procfile
server:
  type: simple
  applicationContextPath: /
#  #adminContextPath: /admin # If you plan to use an admin path, you'll need to also use non-root app path
  connector:
    type: http
    port: 8080

# Logging settings.
#logging:
#  # The default level of all loggers. Can be OFF, ERROR, WARN, INFO, DEBUG, TRACE, or ALL.
#  level: INFO
#  # Logger-specific levels.
#  loggers:
#    # Sets the level for 'com.example.app' to DEBUG.
#    com.taxtelecom.chelnyedu.dropwizard: DEBUG
#    org.hibernate.SQL: ALL
#  appenders:
#    - type: console
